
.header {
  padding-top: var(--mantine-spacing-sm);
  background-color: var(--mantine-color-gray-0);
}
  [data-mantine-color-scheme='dark'] .header {
  background-color: var(--mantine-color-dark-6);
}
  .header {
  border-bottom: calc(0.0625rem * var(--mantine-scale)) solid var(--mantine-color-gray-2);
}
  [data-mantine-color-scheme='dark'] .header {
  border-bottom: calc(0.0625rem * var(--mantine-scale)) solid transparent;
}
  .header {
  margin-bottom: calc(7.5rem * var(--mantine-scale));
}

.mainSection {
  padding-bottom: var(--mantine-spacing-sm);
}

.user {
  color: var(--mantine-color-black);
}

[data-mantine-color-scheme='dark'] .user {
  color: var(--mantine-color-dark-0);
}

.user {
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);
  transition: background-color 100ms ease;
}

.user:hover {
    background-color: var(--mantine-color-white);
  }

[data-mantine-color-scheme='dark'] .user:hover {
    background-color: var(--mantine-color-dark-8);
}

@media (max-width: 36em) {

.user {
    display: none
}
  }

.userActive {
  background-color: var(--mantine-color-white);
}

[data-mantine-color-scheme='dark'] .userActive {
  background-color: var(--mantine-color-dark-8);
}

.tabsList::before {
    display: none;
  }

.tab {
  font-weight: 500;
  height: calc(2.375rem * var(--mantine-scale));
  background-color: transparent;
  position: relative;
  bottom: -1px;
}

.tab::before,
  .tab::after {
    background-color: var(--mantine-color-gray-2) !important;
  }

[data-mantine-color-scheme='dark'] .tab::before, [data-mantine-color-scheme='dark'] .tab::after {
    background-color: var(--mantine-color-dark-7) !important;
}

.tab:hover {
    background-color: var(--mantine-color-gray-1);
  }

[data-mantine-color-scheme='dark'] .tab:hover {
    background-color: var(--mantine-color-dark-5);
}

.tab[data-active] {
    background-color: var(--mantine-color-white);
  }

[data-mantine-color-scheme='dark'] .tab[data-active] {
    background-color: var(--mantine-color-dark-7);
}

.tab[data-active] {
    border-color: var(--mantine-color-gray-2);
}

[data-mantine-color-scheme='dark'] .tab[data-active] {
    border-color: var(--mantine-color-dark-7);
}

.tab[data-active] {
    border-bottom-color: transparent;
}