@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
:root {
  --background-color: rgba(209, 253, 255,0.8);
  --font-color: rgb(48, 60, 108);
  --cards-color: rgb(251, 233, 166);
  --cards-border-color:rgb(255, 216, 76);
  --cards-input-color: rgb(255, 247, 214);
  --cards-input-border-color: rgba(48, 60, 10,0.5);
  --btn-color: #b4dfe5;
  --main-btn-color: #f4976c;

}
body {
  background-color: var(--background-color);
  
}
[data-mantine-color-scheme='dark'] body{
  background-color: var(--mantine-color-dark-6);

}

.home-page{
  margin: 0;
}

/* ============ Header Tabs File =========== */

.header {
  padding-top: var(--mantine-spacing-sm);
  background-color: transparent;
}

.header-main-section {
  padding-bottom: var(--mantine-spacing-sm);
}

.user {
  color: var(--mantine-color-black);
}

[data-mantine-color-scheme='dark'] .user{
  color: var(--mantine-color-dark-0);

}

.user{

  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-lg);
  transition: background-color 100ms ease;

}

.user:hover {
    background-color: var(--mantine-color-white);
  }

[data-mantine-color-scheme='dark'] .user:hover{
    background-color: var(--mantine-color-dark-8);

}

@media (max-width: 36em) {

.user {
    display: none
}
  }

.userActive {
  background-color: var(--mantine-color-white);
}

[data-mantine-color-scheme='dark'] .userActive{
  background-color: var(--mantine-color-dark-8);

}

.tabsList::before {
    display: none;
  }

.tab {
  font-weight: 500;
  height: calc(2.375rem * var(--mantine-scale));
  background-color: transparent;
  position: relative;
  bottom: -1px;
}

.tab::before,
  .tab::after {
    background-color: transparent !important;
  }

[data-mantine-color-scheme='dark'] .tab::before,[data-mantine-color-scheme='dark'] .tab::after{
    background-color: var(--mantine-color-dark-7) !important;

}

.tab:hover {
    background-color: var(--mantine-color-gray-1);
  }

[data-mantine-color-scheme='dark'] .tab:hover{
    background-color: var(--mantine-color-dark-5);

}

.tab[data-active] {
    background-color: var(--background-color);
  }

[data-mantine-color-scheme='dark'] .tab[data-active]{
    background-color: var(--mantine-color-dark-7);

}

.tab[data-active]{
    border-color: var(--background-color);

}

[data-mantine-color-scheme='dark'] .tab[data-active]{
    border-color: var(--mantine-color-dark-7);

}

.tab[data-active]{
    border-bottom-color: transparent;
    text-decoration: underline;

}

/* ============== First Menu File ============== */
.background-section {
  position: relative;


}

.background-section::before {
  content: "";
  margin-top: 50px;
  background-image: url('./assets/plane.jpeg');
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.4;
}

.first-menu-content {
  position: relative;
}

.first-menu-p {
  font-size: 25px;
}

.cta {
  font-family: "Rubik", sans-serif;
}

.cta_btn {
  color: white;

}

a {
  color: white;
  transition: var(--transition);
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: underline;
}

.cta_btn-image {
  overflow: hidden;
  transform: rotate(0);
  transition: var(--transition);
}

.cta_btn-image:hover {
  transform: rotate(-10deg);
}

/* ============ Main Form File ============= */


.main-form-title {
  margin-bottom: 2rem;
  color: var(--font-color);
}

/* CONTAINER */
.responsive-container {
  margin-top: 2rem;
  max-width: 70rem;
  margin-bottom: 5rem;
}

.main-form-grid-root {
  gap: 1rem;
}

.main-form-manu-card {
  background-color: var(--cards-color);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: min-content;
  margin: 0 2rem 0;
  height: 100%;
  padding: 0;
}
.main-form-checkbox-input {
  border-color: transparent;
  background-color: var(--cards-input-color);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 20px 20px -20px;

}
.main-form-checkbox-body:hover {
  transform: scale(1.01);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 20px 20px -20px;
}
/* Segmented  Control */
.segmented-control-main-form-root {
  background-color: transparent;
  height: 100%;
}

.segmented-control-main-form-indicator {
  border-radius: 1.5rem;
  height: 4.5rem;
  background-color: var(--cards-input-color);
}
.segmented-control-main-form-indicator {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 20px 20px -20px;
}

.segment-control-main-form-control {
  display: grid;
  align-items: center;
  padding-top: 0.5rem;
  text-wrap: wrap;
}

.segment-control-main-form-control::before {
    display: none;
  }


.main-form-form-card-root {
  background-color: var(--cards-color);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding-bottom: 2rem;
  overflow: visible;
}


/* Date Picker */
.date-picker-main-form-label {
  font-size: medium;
}
.date-picker-main-form-place-holder {
  font-size: 1rem;
  height: 2.4rem;
}
.date-picker-main-form-input{
  min-width: 18rem;
  height: 2.4rem;
  border-color: transparent;
  background-color: var(--cards-input-color);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 20px 20px -20px;

  
}

.date-picker-main-form-input:hover {
  transform: scale(1.01);
}

/* Ages Select */
.ages-select-input {
  background-color: var(--cards-input-color);
  border-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 20px 20px -20px;
}


.ages-select-input:hover {
  transform: scale(1.01);
}
.ages-select-label {
  font-size: medium;
}

.ages-select-wrapper {
  width: 11rem;  
}

/* Country Select */
.country-combobox-input {
  background-color: var(--cards-input-color);
  border-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 20px 20px -20px;
}
.country-combobox-input:hover {
  transform: scale(1.01);

}

.country-combobox-label {
  font-size: medium;
}
/* .data-combobox-selected {
  color:rgba(181, 237, 245, 255);
} */

/* Budget Slider */
.range-slider-root{
  width: 25rem;
}
.range-slider-label {
  font-size: medium;
  opacity: 0.6;

}

.range-slider-mark:hover{
  transform: scale(1.01);
}

.range-slider-track::before  {
  background-color:var(--cards-input-color);
  /* border-color: var(--cards-border-color); */
}
.range-slider-thumb{
  background-color: var(--cards-border-color);

}
.slider-wrapper {
  justify-content: center;
}


/* ADDITIONAL DATA */ 
.add-data-btn {
  background-color: var(--cards-input-color);
  color: black;
  font-weight: 450;

}
.add-data-btn:hover {
  transform: scale(1.01);
}
.add-btn-none-active {
  display: none;
}
.add-data-input {
  border-color: transparent;
  background-color: var(--cards-input-color);
  
}

.flex-none-active {
  display: none;
}


.input-btn {
  background-color: rgba(245, 168, 173,0.5);
}


/* ===================== MEDIUM DEVICES ======================= */
@media (min-width: 1024px) {
 
}


/* ===================== SMALL DEVICES ======================= */
@media (max-width: 600px) {
  .segment-control-main-form-label {
    font-size: small;
    text-wrap: wrap;
   }
   .segmented-control-main-form-indicator {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 20px 20px -20px;
    height: 90%;
  }
  .date-picker-main-form-input {
    height: fit-content;
  }
  .date-picker-main-form-place-holder {
    font-size: smaller;
  }
  .slider-wrapper {
    margin-bottom: 2rem;
  }

  .range-slider-root{
    width: 15rem;
  }
}



