@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');



body {
  background-color: rgba(181, 237, 245, 255);
}



[data-mantine-color-scheme='dark'] body{
  background-color: var(--mantine-color-dark-6);
}



/* ============ Header Tabs File =========== */

.header {
  padding-top: var(--mantine-spacing-sm);
  /* background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6)); */
  background-color: transparent;
  border-bottom: calc(0.0625rem * var(--mantine-scale)) solid rgba(181, 237, 245, 255);
  /* margin-bottom: rem(120px); */
}

[data-mantine-color-scheme='dark'] .header{
  border-bottom: calc(0.0625rem * var(--mantine-scale)) solid transparent;
}

.header-main-section {
  padding-bottom: var(--mantine-spacing-sm);
}

.user {
  color: var(--mantine-color-black);
}

[data-mantine-color-scheme='dark'] .user{
  color: var(--mantine-color-dark-0);
}

.user{

  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-lg);
  transition: background-color 100ms ease;
}

.user:hover {
    background-color: var(--mantine-color-white);
  }

[data-mantine-color-scheme='dark'] .user:hover{
    background-color: var(--mantine-color-dark-8);
}

@media (max-width: 36em) {

.user {
    display: none
}
  }

.userActive {
  background-color: var(--mantine-color-white);
}

[data-mantine-color-scheme='dark'] .userActive{
  background-color: var(--mantine-color-dark-8);
}

.tabsList::before {
    display: none;
  }

.tab {
  font-weight: 500;
  height: calc(2.375rem * var(--mantine-scale));
  background-color: transparent;
  position: relative;
  bottom: -1px;
}

.tab::before,
  .tab::after {
    background-color: transparent !important;
  }

[data-mantine-color-scheme='dark'] .tab::before,[data-mantine-color-scheme='dark'] .tab::after{
    background-color: var(--mantine-color-dark-7) !important;
}

.tab:hover {
    background-color: var(--mantine-color-gray-1);
  }

[data-mantine-color-scheme='dark'] .tab:hover{
    background-color: var(--mantine-color-dark-5);
}

.tab[data-active] {
    background-color: rgba(181, 237, 245, 255);
  }

[data-mantine-color-scheme='dark'] .tab[data-active]{
    background-color: var(--mantine-color-dark-7);
}

.tab[data-active]{
    border-color: rgba(181, 237, 245, 255);
}

[data-mantine-color-scheme='dark'] .tab[data-active]{
    border-color: var(--mantine-color-dark-7);
}

.tab[data-active]{
    border-bottom-color: transparent;
    text-decoration: underline;
}

/* ============== First Menu File ============== */
.background-section {
  position: relative;


}

.background-section::before {
  content: "";
  margin-top: 50px;
  background-image: url('./assets/plane.jpeg');
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.4;
}

.first-menu-content {
  position: relative;
}

.first-menu-p {
  font-size: 25px;
  /* line-height: 2rem; */
}

.cta {
  font-family: "Rubik", sans-serif;
}

.cta_btn {
  color: white;

}

a {
  color: white;
  transition: var(--transition);
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: underline;
}

.cta_btn-image {
  overflow: hidden;
  transform: rotate(0);
  transition: var(--transition);
}

.cta_btn-image:hover {
  transform: rotate(-10deg);
}

/* ============ Main Form File ============= */
#main-form {
  margin-top: 150px;
  height: 500px;

}

.segmented-control-main-form-root {


  background-color: var(--mantine-color-white);
}

[data-mantine-color-scheme='dark'] .segmented-control-main-form-root{


  background-color: var(--mantine-color-dark-6);
}

.segmented-control-main-form-root{
  box-shadow: var(--mantine-shadow-md);
  border: calc(0.0625rem * var(--mantine-scale)) solid var(--mantine-color-gray-1);
}

[data-mantine-color-scheme='dark'] .segmented-control-main-form-root{
  border: calc(0.0625rem * var(--mantine-scale)) solid var(--mantine-color-dark-4);
}

.segmented-control-main-form-indicator {

  background-image: linear-gradient(to right,
      var(--mantine-color-pink-filled),
      var(--mantine-color-orange-filled));
}

.segment-control-main-form-control::before {
    display: none;
  }

.segment-control-main-form-label[data-active], .segment-control-main-form-label:hover[data-active] {
      color: var(--mantine-color-white);
    }

.date-picker-main-form-place-holder {
  font-size: 1.1rem;
}

.mantine-Select-input {
  font-size: 1.1rem;
}