@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");
:root {
  /* --background-color: rgba(209, 253, 255,0.8); */
  --background-color-light: rgb(255, 247, 214);
  --background-color-dark: rgba(189, 168, 163, 0.7);
  --pop-window-bg-color: #fef6ec;

  --font-color: #57333d;
  --cards-color: rgb(251, 233, 166);
  --cards-border-color: rgb(255, 216, 76);
  --cards-input-color: rgb(255, 247, 214);
  /* --cards-color: #bda8a3;
  --cards-border-color:#bda8a3;
  --cards-input-color:  #fff2d9; */
  --cards-input-border-color: rgba(48, 60, 10, 0.5);
  --btn-color: #b4dfe5;
  --main-btn-color: #f4976c;
  --hover-color: rgba(255, 247, 214, 0.5);
  --hover-color: #fef6ec;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: light-dark(
    var(--background-color-light),
    var(--mantine-color-dark-6)
  );
  width: 100%;
  overflow-x: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.home-page {
  margin: 0;
}

/* ============ Header Tabs File =========== */

.header {
  padding-top: var(--mantine-spacing-sm);
  padding-bottom: var(--mantine-spacing-sm);
  width: 100%;
  background-color: rgba(189, 168, 163, 0.7);
  /* border-bottom: 1px solid black; */
}

.user {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));

  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-lg);
  transition: background-color 100ms ease;

  &:hover {
    background-color: light-dark(
      var(--hover-color),
      var(--mantine-color-dark-8)
    );
  }

  @media (max-width: $mantine-breakpoint-xs) {
    display: none;
  }
}

.userActive {
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-8)
  );
}

.tabsList {
  background-color: transparent;
  &::before {
    display: none;
  }
}

.tab {
  font-weight: 500;
  font-size: medium;

  &:hover {
    background-color: light-dark(
      var(--hover-color),
      var(--mantine-color-dark-5)
    );
  }
}

/* ============== First Menu File ============== */

.first-manu-card-section {
  display: grid;
  justify-items: center;
  margin-bottom: 1rem;
}
.first-manu-text {
  text-wrap: wrap;
  width: 60%;
  text-align: center;
}
.first-manu-card-root {
  background-color: transparent;
}
.title-root {
  font-size: 4rem;
  color: var(--font-color);
}
.cta-btn {
  width: 20rem;
}
.cta-btn:hover {
  transform: scale(1.01);
}

.cta-btn-login {
  color: var(--main-btn-color);
}
/* .first-manu-flex-root {
  font-size: 4rem;
} */

/* .wrap {
  display: inline-block;
  font-size: 32px;
  transform: scale(.5, 1);
} */

/* ============ Login File ============= */
.login-modal-root {
  background-color: var(--background-color-dark);
}

.login-paper {
  background-color: var(--background-color-light);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.term-and-condition {
  color: var(--font-color);
}
.term-and-condition:hover {
  text-decoration: underline;
}
.term-paper {
  background-color: var(--background-color-light);
}
.term-title {
  display: flex;
  justify-content: start;
  align-items: center;
}
.term-back-btn {
  background-color: transparent;
  color: #57333d;
  width: min-content;
}
.term-text-title {
  font-weight: 500;
}
/* ============ Main Form File ============= */

.main-form-title {
  margin-bottom: 2rem;
  color: var(--font-color);
  width: 100%;
  /* background-color: #f4976c; */
}

/* CONTAINER */
.responsive-container {
  padding-top: 2rem;
  padding-bottom: 3rem;
  max-width: 70rem;
}
.main-form-section {
  background-color: rgba(189, 168, 163, 0.7);
}

/* .main-form-grid-root {
  gap: 1rem;
} */

.main-form-manu-card {
  background-color: var(--cards-color);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: min-content;
  /* margin: 0 2rem 0; */
  height: 100%;
  padding: 0;
}
.main-form-checkbox-input {
  border-color: transparent;
  background-color: var(--cards-input-color);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 20px 20px -20px;
}
.main-form-checkbox-body {
  color: black;
}
.main-form-checkbox-body:hover {
  transform: scale(1.01);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 20px 20px -20px;
}
/* Segmented  Control */
.segmented-control-main-form-root {
  background-color: transparent;
  height: 100%;
}

.segmented-control-main-form-indicator {
  border-radius: 1.5rem;
  height: 4.5rem;
  background-color: var(--cards-input-color);
}
.segmented-control-main-form-indicator {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 20px 20px -20px;
}

.segment-control-main-form-control {
  display: grid;
  align-items: center;
  padding-top: 0.5rem;
  text-wrap: wrap;
  &::before {
    display: none;
  }
}

.main-form-form-card-root {
  background-color: var(--cards-color);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow: visible;
}

/* Date Picker */
.date-picker-main-form-label {
  font-size: medium;
}
.date-picker-main-form-place-holder {
  font-size: 1rem;
  height: 2.4rem;
}
.date-picker-main-form-input {
  min-width: 18rem;
  height: 2.4rem;
  border-color: transparent;
  background-color: var(--cards-input-color);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 20px 20px -20px;
}

.date-picker-main-form-input:hover {
  transform: scale(1.01);
}

/* Ages Select */
.ages-select-input {
  background-color: var(--cards-input-color);
  border-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 20px 20px -20px;
}

/* .ages-select-input:hover {
  transform: scale(1.01);
} */
.ages-select-label {
  font-size: medium;
}

.ages-select-wrapper {
  width: 11rem;
}

/* Country Select */
.country-combobox-input {
  background-color: var(--cards-input-color);
  border-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 20px 20px -20px;
}
/* .country-combobox-input:hover {
  transform: scale(1.01);
} */

.country-combobox-label {
  font-size: medium;
}

/* Budget Slider */
.range-slider-root {
  width: 25rem;
}
.range-slider-label {
  font-size: medium;
  opacity: 0.6;
}

.range-slider-mark:hover {
  transform: scale(1.01);
}

.range-slider-track::before {
  background-color: var(--cards-input-color);
  /* border-color: var(--cards-border-color); */
}
.range-slider-thumb {
  background-color: var(--cards-border-color);
}
.slider-wrapper {
  justify-content: center;
}

/* ADDITIONAL DATA */
.add-data-btn {
  background-color: var(--cards-input-color);
  color: black;
  font-weight: 450;
}
.add-data-btn:hover {
  transform: scale(1.01);
}
.add-btn-none-active {
  display: none;
}
.add-data-input-wrapper {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  gap: 0.5rem;
  align-items: center;
}
.add-data-input {
  border-color: transparent;
  background-color: var(--cards-input-color);
}

.flex-none-active {
  display: none;
}

.input-btn {
  background-color: rgba(245, 168, 173, 0.5);
  /* margin-top: 0.4rem; */
}
.main-form-btn-group {
  display: grid;
  justify-items: right;
  margin-top: 1rem;
  float: right;
}
.submit-btn {
  width: 9rem;
}
.cancel-btn {
  background-color: transparent;
  border: 2px solid var(--cards-input-color);
  font-weight: 500;
  color: rgba(0, 0, 0, 0.761);
  font-size: medium;
}
.submit-btn:hover,
.cancel-btn:hover {
  transform: scale(1.03);
}

/* ===================== SUGGESTION GRID ======================= */

.grid-wrapper {
  display: grid;
  justify-items: center;
  padding: 0 5rem 0;
}
.sugg-grid-card-root {
  background-color: var(--cards-color);
}
.sugg-grid-title {
  color: var(--font-color);
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  text-align: center;
}
.sugg-grid-card-title {
  color: var(--font-color);
}
.sugg-grid-badge {
  background-image: linear-gradient(var(--font-color), var(--main-btn-color));
}

.sugg-grid-button {
  color: var(--font-color);
  background-color: transparent;
}
.sugg-grid-button:hover {
  /* background-color: var(--background-color-dark); */
  transform: translate(1.03);
}

/* ===================== ABOUT US ======================= */

.about-us-section {
  margin-top: 2rem;
  padding: 2rem 0;
  background-color: var(--background-color-dark);
}

.about-us-wrapper {
  display: grid;
  justify-items: center;
}
.about-us-item-wrapper {
  display: flex;
  gap: 1rem;
}
.about-us-highlight {
  background-color: var(--pop-window-bg-color);
  padding: rem(5px);
  padding-top: 0;
  border-radius: var(--mantine-radius-md);
  display: inline-block;
  color: light-dark(inherit, var(--mantine-color-white));
}
.about-us-des {
  margin-top: 1rem;
  text-align: center;
}

.about-us-image {
  background-color: var(--pop-window-bg-color);
}
/* ===================== CONTACT US ======================= */

.contact-us-section {
  padding: 5rem 0;
  display: grid;
  justify-items: center;
  margin-bottom: 1rem;
  background-image: url("./assets/contats.jpeg");
  background-size: cover;
  background-attachment: fixed;
}
.contact-us-wrapper {
  display: flex;
  /* width: 60%; */
  background-color: light-dark(
    var(--pop-window-bg-color),
    var(--mantine-color-dark-8)
  );
  border-radius: var(--mantine-radius-lg);
  padding: 1rem;
  /* box-shadow: rgba(0, 0, 0, 0.45) 0px 20px 20px -20px; */

  border: 1px solid
    light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-8));
  @media (max-width: $mantine-breakpoint-sm) {
    flex-direction: column;
  }
}

.contacts-ways {
  box-sizing: border-box;
  position: relative;
  border-radius: var(--mantine-radius-lg);
  background-size: cover;
  background-position: center;
  border: 1px solid var(--font-color);
  padding: var(--mantine-spacing-lg);
  flex: 0 0 280px;
  color: var(--font-color);

  background-color: rgba(189, 168, 163, 0.6);
  @media (max-width: $mantine-breakpoint-sm) {
    margin-bottom: var(--mantine-spacing-sm);
    padding-left: var(--mantine-spacing-md);
  }
}
.contacts-ways-wrapper {
  display: flex;
  padding: 0.4rem;
  align-items: center;
  /* color: var(--font-color); */
}

.contact-us-form {
  flex: 1;
  padding: 1.5rem;
  padding-left: calc(var(--mantine-spacing-xl) * 2);
  border-left: 0;
  @media (max-width: $mantine-breakpoint-sm) {
    padding: var(--mantine-spacing-md);
    padding-left: var(--mantine-spacing-md);
  }
}

.coantact-us-fields {
  margin-top: rem(-12px);
}
.contacts-stack {
  margin-top: 2rem;
}

.contact-us-submit-btn {
  height: 3rem;
  width: 100%;
  font-weight: 800;
  font-size: medium;
  color: var(--font-color);
  background-color: rgba(189, 168, 163, 0.6);
}
.contact-us-submit-btn:hover {
  transform: scale(1.02);
}

/* ===================== FOOTER ======================= */

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--mantine-spacing-xs);
  padding-bottom: var(--mantine-spacing-xs);
}

/* ===================== MEDIUM DEVICES ======================= */
@media (max-width: 1024px) {
  .title-root {
    font-size: 3rem;
  }
}

/* ===================== SMALL DEVICES ======================= */
/* @media (max-width: 600px) { */
@media (max-width: $mantine-breakpoint-sm) {
  .segment-control-main-form-label {
    font-size: small;
    text-wrap: wrap;
  }
  .segmented-control-main-form-indicator {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 20px 20px -20px;
    height: 90%;
  }
  .date-picker-main-form-input {
    height: fit-content;
  }
  .date-picker-main-form-place-holder {
    font-size: smaller;
  }
  .slider-wrapper {
    margin-bottom: 2rem;
  }

  .range-slider-root {
    width: 15rem;
  }

  .contact-us-wrapper {
    width: 80%;
  }
}

/* ===================== EXTRA SMALL DEVICES ======================= */

@media (max-width: $mantine-breakpoint-xs) {
  .contact-us-wrapper {
    width: 90%;
  }

  .footer-links {
    margin-top: var(--mantine-spacing-md);
  }

  .footer-wrapper {
    flex-direction: column;
  }
}
